@import '../colors';
.selectableplayerlistitem-component {
  background: $action-background-color;
  cursor: pointer;
  position: relative;
  &:hover {
    background: $action-hover-background-color;
  }
  &.disabled {
    cursor: default;
    background: #888;
  }

  .selected-box {
    position: absolute;
    left: 5px;
  }
}
