/* Base Application Styles */
@import './colors';
* {
  box-sizing: border-box;
}

html,
body {
  color: $text-color;
  background: $app-background-color;
  height: 100%;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 18px;
}

@media (min-width: 600px) {
  html,
  body {
    height: auto;
    font-size: 16px;
  }
}

#app {
  padding: 20px;
  background: $background-color;
  margin: 0 auto;
  width: 100%;
  min-height: 100%;
  @media (min-width: 600px) {
    width: 80%;
    margin: 20px auto;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    height: auto;
    min-height: auto;
  }
  @media (min-width: 900px) {
    width: 700px;
  }
}
