// http://www.colourlovers.com/palette/2772433/Futur_skills By nicomollet
  // #3A86B7 Futuristic Blue
// #E57C09 Futuristic Orange
// #D04C5A (red)
// #EAEAEA (white)
// #3F434E (black)
$app-background-color: #333;

$text-color: #EAEAEA;
$background-color: #3F434E;
$border-color: #E57C09;

$res-color: #3A86B7;
$spy-color: #D04C5A;

$leader-color: $border-color;

$success-color: #C0D890;
$fail-color: #ED4337;

$action-background-color: #222;
$action-hover-background-color: #e57c09;

$border-radius: 0;
